.page {
    width: 320px;
    height: 568px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    display: flex;
    flex-direction: column;
    background-color:darksalmon;
    color: #fff;
    font-family: 'Inter','Arial',sans-serif;
    position: relative;
}