.profile {
    margin: 0;
    padding: 0 0 45px;
    padding-bottom: calc(36px + 14 * ((100% - 282px)/(880 - 282)));
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 700px) {
    .profile {
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}